<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přičti Jedničku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <h1>Přičti Jedničku</h1>
    <form method="post">
        <label for="number">Zadej číslo:</label>
        <input type="number" name="number" required><!-- name="To co chci pak ččíst ve FLASK" -->
        <button type="submit">Odeslat</button>
    </form>

    {% if result is not none %}
        <h2>Výsledek: {{ result }}</h2>  <!-- zobrazení výsledku -->
    {% endif %}
</body>
</html>
