<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>DEEP IN THE RED</title>

</head>
<body data-theme="{{ user.prefered_scheme if user else 'light' }}">
    {% include 'universal/header.html' %}
    <div class="hero full-height">
        <h1>Welcome to DEEP IN THE RED</h1>
        <p>This is the main page of the DEEP IN THE RED game.</p>
    </div>
    {% include 'universal/footer.html' %}
</body>
</html>