<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <meta http-equiv="refresh" content="5">
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
            <th>Level Reached</th>
            <th>Started At</th>
        </tr>
        {% for entry in sessions %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entry.user.username }}</td>
            <td>{{ entry.score }}</td>
            <td>{{ entry.level_reached }}</td>
            <td>{{ entry.started_at }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>