<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Register</title>
</head>
<body data-theme="{{ user.prefered_scheme if user else 'light' }}">
    {% include 'universal/header.html' %}
    <div class="hero">
        <h1>Register</h1>
    </div>
    <div>
        <form method="post">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password" required autocomplete="off"><br>
            <button type="submit">Register</button>
        </form>
    </div>
    {% include 'universal/footer.html' %}
</body>
</html>